#info {

}
#info input {
	display: block;
	float: center;
	border: 1px solid #000;
    border-radius:5px;
    font-size: 16px
}
#info button {
	background-color:#73FF88;
	text-align: center;
	display: block;
	width: 25%;
	font-size: 16px;
	padding-top: 5px;
    padding-bottom: 5px;
	border: 0px;
	right: 50%;
}

nav {
	z-index:100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 20px solid RGBA(0,0,0,.7);
  background-color:#E0E0E0;

}
nav input[type=checkbox],
nav input[type=radio] {
    display:none;
}

#check1 {
    margin: 0 auto;
    width: 90%;
}

#check1 label {
    margin-bottom: 5px;
    background-color:#B3D6F2;
    border-radius:3px;
    border: 1px solid #6B6B6B;
    border-bottom: 1px solid #000;
    padding: 10px;
    color: #000;
    width: 40%;
    text-align:center;
    display: inline-block;
}
#check1 input[type=checkbox]:checked + label {
    background-color:#0064B5;
    color:#fff;
    border-bottom: 0px solid #000;
}
#check1 input[type=radio]:checked + label {
    background-color:#0064B5;
    color:#fff;
    border-bottom: 0px solid #000;
}
#check2 {
	margin: 0 auto;
	width: 90%;
}
#check2 label {
    margin-left: -4px;
    background-color:#B3D6F2;
    border: 1px solid #6B6B6B;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 10px;
    width: 15%;
    height: auto;
    text-align:center;
    display: inline-block
}

#check2 input[type=radio]:checked + label {
    background-color:#0064B5;
    color:#fff;
    border-bottom: 0px solid #000;
}

#check3 input[type=checkbox] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 32px;
    width: 14px;
    height: 14px;
    background-color: white;
    border: 1px solid #999;
}

#check3 input[type=checkbox]:checked + label::before {
    content: "X";
    font-weight: bold;
}

#check3{
    background-color: #ccc;
    border-radius: 8px;
    margin: 16px;
}
#check3 label {
    margin: 0;
    border-bottom: 1px solid #999;
    color: #000;
    width: 100%;
    text-align: left;
    padding: 14px 56px;
    display: inline-block;
    cursor: pointer;
}
#check3 label:last-child {
    border-bottom: 0;
}
/*
nav button {
    background-color:#73FF88;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
}

#otherstuff label {
    margin:1px;
    background-color:#858585;
    border-radius:3px;
    border: 1px solid #6B6B6B;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: auto;
    text-align:center;
    display: block;
}

*/