#info {
    display: none;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

/**********************
   Main View
 **********************/

/*** Header ***/

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header {
    height: 72px;
}

header > div {
    height: 100%;
    float: left;
    text-align: center;
}
header .left { width: 15%; }
header .mid { width: 35%; }
header .right { width: 50%; }

header img {
    height: 18px;
    margin-top: 4px;
}

header .logo {
    width: 100%;
    height: 28px;
    background-color: #ddd;
}

header .info {
    width: 100%;
    height: 44px;
    background-color: #eee;
    border-right: 6px solid white;
    box-sizing: border-box;
}

header h2 {
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    font-weight: 500;
    vertical-align: center;
    background-color: #ddd;
    /*padding: 4px 4px 6px;*/
    margin: 0;
}

header h3 {
    height: 44px;
    line-height: 44px;
    font-size: 34px;
    background-color: #eee;
    margin-top: 0;
    border-left: 6px solid white;
    border-right: 6px solid white;
}

header > div:last-child h3 {
    font-weight: 200;
    color: #666;
    border-right-color: #eee;
}

header > div:last-child h3 span {
    /*font-weight: 300;*/
}

/*** Query Box ***/

#queryBox {
    width: 100%;
    height: 32px;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    /*background-image: linear-gradient(
        #eee,
        #fff 15%,
        #fff 90%,
        #f0f0f0);*/
}

#queryThings {
    position: relative;
    top: 4px;
}

#queryLabel {
    text-align: left;
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid black;
}

#query .triangle {
    position: relative;
    font-size: 12px;
    left: -1.5em;
}

/*** Select Box ***/

#selectBox {
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 28px;
    font-weight: 300;
    vertical-align: center;
    background: #d9ffdb;
    color: #666;
    /* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#selectBox > div {
    height: 100%;
    text-align: center;
    float: left;
}
#selectBox .left { width: 18%; }
#selectBox .mid { width: 64%; }
#selectBox .right { width: 18%; }

#selectBox a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

#selectBox .triangle {
    font-size: 12px;
    position: relative;
    left: 22px;
    top: -2px;
}

#selectBox select {
    background: none;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

    /* Normalize/unstyle */
    appearance: none;
    -moz-appearance: window;
    -webkit-appearance: none;
}

/* Internet Explorer bs */
#selectBox select::-ms-expand {
    display: none;
}

/*** Dorms ***/

ul.dorms{
    /* Position */
    position: absolute;
    top: 152px; /* Sum size of header, queryBox, selectBox. */
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    /* Clear list style */
    padding: 0;
    list-style: none;
    /* Overflow */
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

ul.dorms > li {
    /* Postiion */
    width: 100%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    /* Overflow */
    overflow-y: auto;
}

ul.dorms > li:first-child {
    transition: margin-left .5s ease;
    margin-left: 0%;
}

/*** Floors and rooms **/

ol.floors, ol.rooms {
    padding: 0;
    list-style: none;
}

li.floor h4 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 0;
}

li.room {
    text-align: center;
    font-size: 18px;
}

/*** Dorm view shadow ****/

/**
 * Based on scrolling shadows by @kizmarh and @leaverou
 * Only works in browsers supporting background-attachment: local; & CSS gradients
 * Degrades gracefully
 */

ul.dorms > li {
    overflow: auto;
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

/**********************
   ...
 **********************/

#queries{
  display:none;
}

@media only screen
and (max-width: 480px) { /* change to device width */
  header{
    width:100%;
  }
  header h1{
  	display:none;
  }
  ol.rooms {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	}
}

@media only screen
and (min-width: 481px){

}
