/*
 * Joe's magic modal
 */

div.modalbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.modalbox div.header {
  position: absolute;
  top: 25px;
  height: 40px;
  left: 25px;
  right: 25px;
}

div.modalbox div.contentbox {
  position: absolute;
  left: 25px;
  top: 65px; /* Set to padding + header height */
  right: 25px;
  bottom: 25px; /* Set to padding + footer height */
  overflow: visible;
}

div.modalbox div.content {
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

div.modalbox div.footer {
  width: 100%;
}

/*
 * General modal styling
 */

.modalbox {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.modalbox .header {
  background-color: #fff;
}

.modalbox .content {
  background-color: #ececec;
}

/*
 * Fancy buttons
 */

.modalbox button.pushme {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  background: none;
}

.modalbox .pushme {
  position: relative;
  padding: 10px 40px;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-weight: 100;
  cursor: pointer;
  z-index: 3;
}

.modalbox .pushme:active::after {
    top: 2px;
}

.modalbox .pushme:active::after,
.modalbox .pushme:hover::after{
  background-color: #8ee893;
}

.modalbox .pushme::after {
  content: "";
  position: absolute;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #97f29b;
  z-index: -1;
}

.modalbox .pushme::before {
  content: "";
  position: absolute;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  left: 0;
  top: 2px;
  width: 100%;
  height: 100%;
  background-color: #6ac86e;
  z-index: -2;
}

.modalbox .pushme:active::before{
  /*display: none;*/
}

/*
 * Info modal
 */

#info {
  text-align: center;
}

#info .contentbox {
  top: 80px;
}

#info .header {
  height: 50px;
  padding-top: 5px;
  width: auto;
  background-color: #fff;
}

#info .header img {
  height: 85%;
}

#info #credits {
  background-color: #ddd;
  height: 20px;
  line-height: 20px;
  vertical-align: center;
  font-size: 11px;
}

#info p {
  font-size: 12px;
  text-align: justify;
  display: inline-block;
  margin: 0 16px 8px;
  line-height: 1.2;
}

#info h1 {
  font-size: 120%;
  text-align: center;
}

#info .content button {
  margin-bottom: 20px;
}

#drawNumBox label{
  font-weight: 400;
  display: block;
  position: relative;
  margin-top: 8px;
  font-size: 16px;
}

#drawNumBox input{
  display: block;
  position: relative;
  margin-top: 5px;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 50%;
  height: 36px;
  font-weight: 400;
  font-size: 38px;
  text-align: center;
}

#drawNumBox input:focus{
  box-shadow: inset 0 0 3px 3px #d8d8d8;
}

#buttomLabel{
  text-align: center;
  background-color: #ccc;
  height: 20%;
}
#buttomLabel p{
  font-weight: 400;
  position: relative;
  padding-top: 5%;
  
}

#info h2{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

#legendBox{
  white-space: nowrap;
}
#legendBox h3{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  padding-left: 20px;
}
#legendBox ul{
  padding-left: 5px; 
  vertical-align: top;
  text-align: left;
  display: inline-block;
  list-style-type: none;
  line-height: 1.2;
}

/*
 * Query modal
 */

#queries .contentbox {
  top: 79px;
  bottom: 85px;
}

#queries .header {
  height: 54px;
  background-color: #fff;
}

#queries .header h2 {
  line-height: 54px;
  text-align: center;
  margin: 0;
}

#queries .content {
  padding: 0 20px;
}

#queries label {
  /* Disable selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#queries h4 {
    text-align: left;
    font-size: 20px;
    margin: 14px 0 10px;
}

#queries input[type=checkbox],
#queries input[type=radio] {
  display: none;
}

#queries .footer {
  height: 55px;
}

#queries .footer button {
  display: inline-block;
  width: 50%;
  height: 100%;
  font-size: 20px;
}

#queries .footer button.cancel::after {
  background-color: #fbb;
}

#queries .footer button.cancel::before {
  background-color: #f99;
}

#queries .footer button.go::before,
#queries .footer button.go::after {
  border-bottom-left-radius: 0;
}

#queries .footer button.cancel::before,
#queries .footer button.cancel::after {
  border-bottom-right-radius: 0;
}

#queries .footer button::after {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
 * Queries sections 1 and 2
 */

/*#check1,*/
#check2 {
  width: 100%;
}

/*#check1 label,*/
#check2 label {
  display: inline-block;
  height: auto;
  padding: 10px 0;
  text-align: center;
  color: #000;
}

/*#check1 label {*/
/*  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  margin-bottom: 4px;
}*/

/*#check1 label:nth-of-type(odd) {*/
/*  border-right: 2px solid transparent;
}
*/
/*#check1 label:nth-of-type(even) {*/
/*  border-left: 2px solid transparent;
}*/

#check2 label {
    width: 33.333%;
}

/*#check1 label::after,*/
#check2 label::after {
  background-color: #b3c9ea;
}

/*#check1 label::before,*/
#check2 label::before {
  background-color: #6692d5;
}

#check2 label::after,
#check2 label::before {
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}

#check2 label:first-of-type::after,
#check2 label:first-of-type::before {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 1px solid #5587c8;
}

#check2 label:last-of-type::after,
#check2 label:last-of-type::before {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 1px solid #5587c8;
}

/*#check1 input[type=checkbox]:checked + label,*/
#check2 input[type=radio]:checked + label {
  color: #fff;
  font-weight: 300;
}

/*#check1 input[type=checkbox]:checked + label::after,*/
#check2 input[type=radio]:checked + label::after {
    background-color: #5587c8;
    top: 4px;
    height: 39px;
}

/*#check1 input[type=checkbox]:checked + label::before,*/
#check2 input[type=radio]:checked + label::before {
  background-color: #254d87;
  top: 2px;
}

/*
 * Section 3
 */

#check1 input[type=checkbox] + label::before,
#check3 input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -15px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-right: 10px;
  background-color: #aaa;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

#check1 input[type=checkbox]:checked + label::before,
#check3 input[type=checkbox]:checked + label::before {
  content: "\2713"; /* check */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 16px;
  color: #f3f3f3;
  text-align: center;
}

#check1,
#check3 {
  background-color: #ccc;
  border-radius: 8px;
  margin-bottom: 25px;
}

#check1 .checkwrap,
#check3 .checkwrap {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #333;
  font-size: 15px;
  border-bottom: 1px solid #999;
}

#check1 label,
#check3 label {
  padding: 10px 16px 10px 40px;
  display: block;
  text-align: left;
  cursor: pointer;
}

#check1 .checkwrap:last-child,
#check3 .checkwrap:last-child {
  border-bottom: 0;
}
