#info, #queries {
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  background-color: #ececec;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  border: solid 20px rgba(0, 0, 0, .6);
  background-clip: padding-box;
}

#info p{
  font-size: 12px;
  text-align: justify;
  display: inline-block;
  margin: 0 16px;
  line-height: 1.1;
}

#info h1{
  font-size: 120%;
  text-align: center;
}
#info span.chance{
  color: rgba(0,0,0,.6);
  border-radius: 50%;
  padding: 2px;
  margin: 2px;
  width: 20px;
  height: 20px;
  font-weight: 300;
  display: inline-block;
  text-align: center;
}

#info button{
  display: block;
  position: relative;
  left: 50%;
  background-color: #97f29b;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-weight: 100;
  border: none;
  width: 130px;
  margin-left: -65px;
  height: 40px;
}
#info button:active {
    top: 3px;
}

#info button:active, button:hover{
  background-color: #8ee893;
}

#info button::before{
  content: "";
  position: absolute;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  left: 0;
  top: 0;
  width: 130px;
  height: 43px;
  background-color: #6ac86e;
  z-index: -1;
}

#info button:active::before{
  display: none;
}

#drawNumBox label{
  font-weight: 400;
  display: block;
  position: relative;
  margin-top: 8px;
  font-size: 16px;
}

#drawNumBox input{
  display: block;
  position: relative;
  margin-top: 5px;
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 50%;
  height: 36px;
  font-weight: 400;
  font-size: 38px;
  text-align: center;
}
#drawNumBox input:focus{
  box-shadow: inset 0 0 3px 3px #d8d8d8;
}

#buttomLabel{
  text-align: center;
  background-color: #ccc;
  height: 20%;
}
#buttomLabel p{
  font-weight: 400;
  position: relative;
  padding-top: 5%;
  
}

#info h2{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

#legendBox{
  white-space: nowrap;
}
#legendBox h3{
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  padding-left: 20px;
}
#legendBox ul{
  padding-left: 5px; 
  vertical-align: top;
  text-align: left;
  display: inline-block;
  list-style-type: none;
  line-height: 1.2;
}

#logobox img{
  height: 40px;
  width: auto;
}
#logobox{
  width: 100%;
  padding-top: 5px;
  background-color: #fff;
}