ul
{
    list-style: none;
}

#header{
  right: 0;
  top: 0;
  position: fixed
}

ul.arooms {
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3; /* Firefox */
    column-count:3;
}

li.aroom {
    transition: color 0.1s ease;
}

li.aroom input,
li.aroom label {
    cursor: pointer;
}

li.aroom:hover {
    color: darkred;
}
