.adorms {
    margin-top: 8em;
    margin-bottom: 4em;
}

ul
{
    list-style: none;
}

#header {
    right: 0;
    top: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
}

.signout {
    float: right;
    margin-right: 2em;
}

.container {
    margin: 0 auto;
    width: 600px;
    padding: 0 2em;
    text-align: center;
}

.container div {
    margin-bottom: .25em;
}

.container button {
    margin-top: 0.25em;
}

ul.arooms {
    -webkit-column-count:3; /* Chrome, Safari, Opera */
    -moz-column-count:3; /* Firefox */
    column-count:3;
}

li.aroom {
    transition: color 0.1s ease;
}

li.aroom input,
li.aroom label {
    cursor: pointer;
}

li.aroom:hover {
    color: darkred;
}
