h1, h2, h3, h4 {
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

a:link {
   color: inherit;
   text-decoration: none;
}

/**********************
   Main View
 **********************/

/*** Header ***/

header {
    height: 72px;
}

header > div {
    height: 100%;
    float: left;
    text-align: center;
}
header .left { width: 15%; }
header .mid { width: 35%; }
header .right { width: 50%; }

header .logo {
    width: 100%;
    height: 28px;
    background-color: #ddd;
}

header .logo img {
    height: 18px;
    margin-top: 6px;
}

header .infoButton {
    width: 100%;
    height: 44px;
    background-color: #eee;
    border-right: 6px solid white;
    box-sizing: border-box;
    cursor: pointer;
}

header .infoButton:hover {
box-shadow: inset 0 0 2px 2px #aaa;
}

header .infoButton img {
    height: 28px;
    margin-top: 7px;
}

header h2 {
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    vertical-align: center;
    margin: 0;
    background-color: #ddd;
    font-weight: 500;
}

header h3 {
    height: 44px;
    line-height: 44px;
    vertical-align: center;
    margin-top: 0;
    border-left: 6px solid white;
    border-right: 6px solid white;
    background-color: #eee;
    font-size: 34px;
}

header > div:last-child h3 {
    font-weight: 200;
    color: #666;
    border-right-color: #eee;
}

/*header .textfill {
    width: 200px;
}
*/
/*** Query Box ***/

#queryBox {
    width: 100%;
    height: 32px;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
}

#queryThings {
    position: relative;
    top: 4px;
}

#queryField {
    cursor: pointer;
}

#queryLabel {
    text-align: left;
    display: inline-block;
    width: 150px;
    border-bottom: 1px solid black;
    color: #000;
}

#queryBox img {
    text-align: right;
    position: relative;
    left: -24px;
}

/*** Select Box ***/

#selectBox {
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 28px;
    font-weight: 300;
    vertical-align: center;
    background: #d9ffdb;
    color: #666;
    /* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#selectBox > div {
    height: 100%;
    text-align: center;
    float: left;
}
#selectBox .left { width: 18%; }
#selectBox .mid { width: 64%; }
#selectBox .right { width: 18%; }

#selectBox a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

#selectBox .triangle {
    font-size: 12px;
    position: relative;
    left: 22px;
    top: -2px;
}

#selectBox select {
    background: none;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

    /* Normalize/unstyle */
    appearance: none;
    -moz-appearance: window;
    -webkit-appearance: none;
}

/* Internet Explorer bs */
#selectBox select::-ms-expand {
    display: none;
}

/*** Dorms ***/

ul.dorms{
    /* Position */
    position: absolute;
    top: 152px; /* Sum size of header, queryBox, selectBox. */
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    /* Clear list style */
    padding: 0;
    list-style: none;
    /* Overflow */
    overflow: hidden;
    white-space: nowrap;
}

ul.dorms > li {
    /* Postiion */
    width: 100%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    /* Overflow */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

ul.dorms > li:first-child {
    transition: margin-left .5s ease;
    margin-left: 0%;
}

.empty-message {
    text-align: center;
    font-style: italic;
}

/*** Floors and rooms **/

ol.rooms {
    padding: 0;
    list-style: none;
}

ol.floors {
    padding: 16px 0 24px;
    list-style: none;
}

li.floor h4 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 0;
}

li.room {
    font-size: 18px;
    text-align: center;
}

li .room-inner {
    width: 160px;
    display: inline-block;
    text-align: left;
}

/*** Dorm view shadow ****/

/**
 * Based on scrolling shadows by @kizmarh and @leaverou
 * Only works in browsers supporting background-attachment: local; & CSS gradients
 * Degrades gracefully
 */

ul.dorms > li {
    /*overflow: auto;*/
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.modalbox .content {
    /*overflow: auto;*/
    background:
        /* Shadow covers */
        linear-gradient(#ececec 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), #ececec 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(#ececec 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), #ececec 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    /*background-color: #ececec;*/
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}


span.chance {
  color: rgba(0,0,0,.6);
  border-radius: 50%;
  padding: 2px;
  margin: 8px;
  width: 20px;
  height: 20px;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  background-color: #eee;
}

.isDrawn{
    text-decoration: line-through;
}

/**********************
   ...
 **********************/

@media only screen
and (max-width: 480px) { /* change to device width */
  header{
    width:100%;
  }
  header h1{
    display:none;
  }
  #queries {
    display:none;
  }
  ol.rooms {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    }
}

@media only screen
and (min-width: 481px) {
    header {
        width:350px;
    }

    main {
        position:absolute;
        top:0;
        bottom:0;
        left:362px;
        right:0;
    }

    #info .header, #info .contentbox {
        max-width:300px;
        margin:0 auto;
    }

    #queryBox {
        display:none;
    }

    div#queries {
        display:block !important;
        position:absolute;
        z-index:0;
        left:0;
        width:350px;
        top:85px;
        background-color:#ECECEC;
    }

    #queries .footer button.cancel,
    #queries .footer button.go {
        display: none;
    }

    #queries .footer button.go {
        width: 100%;
    }

    ul.dorms{
        top:48px;
    }
}

@media only screen
and (min-width: 650px)
and (max-width: 950px) {
    ol.rooms {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    }
}

@media only screen
and (min-width: 951px) {
    ol.rooms {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    }
}
