h1, h2, h3, h4 {
    font-weight: 400;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

a:link {
   color: inherit;
   text-decoration: none;
}

/* Not in the correct place */

ol.rooms {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#info .header, #info .contentbox {
    max-width: 300px;
    margin: 0 auto;
}

#queries .header, #queries .contentbox {
    max-width: 380px;
    margin: 0 auto;
}

/**********************
   Header
 **********************/

header {
    height: 72px;
    background-color: rgb(247,247,247);
}

header > div {
    height: 100%;
    float: left;
    text-align: center;
}
header .left { width: 25%; }
header .mid { width: 35%; }
header .right { width: 40%; }

header #live-message {
    width: 100%;
    height: 28px;
    line-height: 28px;
    vertical-align: bottom;
    text-align: center;
    position: fixed;
    background-color: #b4cae9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -28px;
    z-index: 10;
    -webkit-transition: top 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
    transition: top 600ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

header #headerLogo {
    width: 100%;
    height: 72px;
    line-height: 60px;
    box-sizing:border-box;
}

header #headerLogo img {
    width:80px;
    max-width:80%;
    margin-top: 6px;
    display:inline;
    vertical-align: middle;
    height:auto;
}

header #headerLogo:hover{
    box-shadow: inset 0 0 4px 4px #ddd;
    cursor: pointer;
}

header h2 {
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    vertical-align: center;
    margin: 0;
    font-weight: 500;
    text-decoration:underline;
}

header h3 {
    height: 44px;
    line-height: 44px;
    vertical-align: center;
    margin-top: 0;
    border-left: 6px;
    border-right: 6px;
    font-size: 34px;
}

header h3#lastRoom {
    font-weight: 300;
    border-right-color: #eee;
    cursor: pointer;
}

/**********************
   Tool box
 **********************/

#toolBox {
    width: 100%;
    height: 52px;
    padding: 6px 0;
    font-size: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toolBox > div {
    width: 33.33333333%;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toolBox > div > div {
    margin: 0 2px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    top: 2px;
    z-index: 0;
    background-color: #c6ddff;
    cursor: pointer;
}

#toolBox > div > div::before {
    content: "";
    position: absolute;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    left: 0;
    top: -2px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e0f3ff;
}

#toolBox > div > div:hover::before {
    background-color: #d6eafb;
}

#toolBox > div > div:active::before {
    background-color: #d9f0ff;
    top: 0;
}

#toolBox .left > div {
    margin-left: 6px;
}

#toolBox .right > div {
    margin-right: 5px;
}

#toolBox img {
    height: 28px;
    vertical-align: middle;
    padding: 0 3px;
    position: relative;
    top: -2px;
}

/**********************
   Select box
 **********************/

#selectBox {
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-size: 28px;
    font-weight: 300;
    vertical-align: center;
    background: #d9ffdb;
    color: #666;
    /* Disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#selectBox > div {
    height: 100%;
    text-align: center;
    float: left;
}
#selectBox .left { width: 18%; }
#selectBox .mid { width: 64%; }
#selectBox .right { width: 18%; }

#selectBox a {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

#selectBox .triangle {
    font-size: 12px;
    position: relative;
    left: 22px;
    top: -2px;
}

#selectBox select {
    background: none;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

    /* Normalize/unstyle */
    appearance: none;
    -moz-appearance: window;
    -webkit-appearance: none;
}

/* Internet Explorer bs */
#selectBox select::-ms-expand {
    display: none;
}

/**********************
   Dorms
 **********************/

div.dorm{
    position: absolute;
    top: 162px;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0;
    overflow-y:scroll;
   -webkit-overflow-scrolling: touch;
}

.empty-message {
    text-align: center;
    font-style: italic;
    margin: 0;
    padding-top: 20px;
}

/*** Floors and rooms **/

ol.rooms {
    padding: 0;
    list-style: none;
}

ol.floors {
    min-height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

li.floor {
    padding-top: 14px;
}

li.floor:last-child {
    padding-bottom: 22px;
}

li.floor h4 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin: 0;
}

li.room {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
}

li .room-inner {
    width: 160px;
    display: inline-block;
    text-align: left;
}

#apology {
    height: 16px;
    line-height: 16px;
    margin-top: -17px;
    font-size: 13px;
    background-color: #f0f0f0;
    text-align: center;
}

#apology a:link {
    color: #3287cc;
    padding-top: 14px; /* Skechy touch-area expander */
    text-decoration: underline;
}

/**********************
   Dorm view shadow
 **********************/

/**
 * Based on scrolling shadows by @kizmarh and @leaverou
 * Only works in browsers supporting background-attachment: local; & CSS gradients
 * Degrades gracefully
 */

.dorm {
    /*overflow: auto;*/
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(white 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.modalbox .content {
    /*overflow: auto;*/
    background:
        /* Shadow covers */
        linear-gradient(#ececec 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), #ececec 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
        /* Shadow covers */
        linear-gradient(#ececec 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), #ececec 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    /*background-color: #ececec;*/
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}


span.chance {
  color: rgba(0,0,0,.6);
  border-radius: 50%;
  padding: 0px 2px 4px 2px;
  margin: 8px;
  width: 20px;
  height: 20px;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  background-color: #eee;
}

.isDrawn .room-inner .chance {
    background-color: #838383 !important;
}

.isDrawn .room-inner {
    text-decoration: line-through;
}

/**********************
   Media queries
 **********************/

@media only screen and (min-width: 350px) {
    #toolBox { font-size: 11px; }}
@media only screen and (min-width: 375px) {
    #toolBox { font-size: 12px; }}
@media only screen and (min-width: 400px) {
    #toolBox { font-size: 13px; }}
@media only screen and (min-width: 500px) {
    #toolBox { font-size: 16px; }}

@media only screen
and (max-width: 820px) {
  #selectBox {
    font-size: 18px;
  }
}

@media only screen
and (max-width: 390px) {
    .room.size5, .room.size6 {
        font-size: 15px;
    }
    span.chance {
        font-size: 18px;
    }
}

/* Three columns */
@media
only screen
and (min-width: 600px)
and (max-device-width: 1024px),
only screen
and (min-width: 951px)
and (min-device-width: 1025px) {
    ol.rooms {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    }
}

/* Mobile / narrow window display */
@media
only screen
and (max-width: 715px),
only screen
and (max-device-width: 1024px) { /* change to device width */
  header{
    width:100%;
  }
  header h1{
    display:none;
  }
  #queries {
    display:none;
  }
}

/* Desktop only, large window display */
@media only screen
and (min-width: 716px)
and (min-device-width: 1025px) {
    header {
        width:350px;
    }

    main {
        position:absolute;
        top:0;
        bottom:0;
        left:362px;
        right:0;
    }

    #queryBox, #queries .footer {
        display:none;
    }

    div#queries {
        display:block !important;
        position:absolute;
        z-index:0;
        left:0;
        width:350px;
        top:85px;
        background-color:#ECECEC !important;
    }

    div#queries > div {
        position:absolute;
    }

    div#queries .contentbox{
        bottom:25px;
    }

    div.dorm{
        top:38px;
    }
}
