body, html {
	width: 100%;
	height: 100%;
}

#teaser {
	text-align: center;
	position: relative;
	top: 20%;
    font-family: Roboto;
    font-weight: 700;
}

#teaser img {
	width: 70%;
}

#teaser div {
    /* vertical centering */
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#teaser .two {
    color: #337599;
    background: -webkit-linear-gradient(#337599, #333333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#teaser .lesslead {
    line-height: 0.9;
    font: Times New Roman;
}

#teaser .morelead {
    line-height: 1.5;
    font: Arial;
}
